@import "tailwindcss";

@theme {
  --color-primary: #2563EB;    /* Royal Blue */
  --color-secondary: #E0F2FE;  /* Light Sky Blue */
  --color-text-dark: #1E293B;  /* Dark Slate (v4 automatically text-dark bana dega) */
  --color-accent: #FFFFFF;     /* White */
}